<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <%- include('layouts/header')  %>
    <label for="">Email : </label>
    <input type="email" > <br>
    <label for="">Password : </label>
    <input type="password"> <br>
    <input type="button" value="Submit">
    <%- include('layouts/footer')  %>
</body>
</html>